

.topBar {
  overflow: hidden;
  background-color: Gray;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 90%;
  width: 100%;
}

.topBar Logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 40px;
  padding-right: 30%;
  font-size: 50px;
}

.topBar PostManage {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 35px 20px;
  font-size: 25px;
}

.topBar PostManage:hover {
  background: black;
  color: gray;
}

.topBar SignInManage {
  float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: underline;
  padding: 35px 40px;
  font-size: 23px;
}

.topBar Account {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 35px 40px;
  font-size: 23px;
}

.filterSelect {
  background-color: thistle;
  width: 15%;
  position: fixed;
  top: 19%;
  left: 80%;
}

.filterSelect boxHead {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 25px;
  color: black;
  display: block;
}

.filterSelect options {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.extrasBox {
  background-color: thistle;
  width: 15%;
  position: fixed;
  top: 59%;
  left: 80%;
}

.extrasBox boxHead {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 25px;
  color: black;
  display: block;
}

.extrasBox options {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.contentPage {
  margin-top: 10%;
  margin-right: 20%;
}

.postsBox {
  background-color: thistle;
  margin: 5%
}
